.headercontainer {
  background: center / cover no-repeat url("../img/headerimg.jpg");
}

.logohead{
max-width: 220px;
}

@media screen and (max-width: 576px) {
  .headercontainer {
    height: 150px;
  }
}

@media screen and (min-width: 576px) {
  .headercontainer {
    height: 300px;
  }
}
