.headadmin {
    background-color: rgba(154, 41, 206, 0.315) !important;
 }

.title {
    color: white !important;
    font-size: 35px;
}

.title_footer {
    color: white !important;
    font-size: 35px;
}

.logo {
    height: 125px;
}

.menu {
    padding: 0%;
    border: solid black 1px;
    background-color: white;
    height: 500px;
    padding-top: 5%;
}

.table {
    width: 50%;
}

form {
    width: 50%;
}

.color_button {
    background-color: cornflowerblue;
}

.bouton_ajout {
    padding-right: 25%;
}

.label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.input,
.label {
    margin: .4rem 0;
}
