.color1b0a2e {
    background-color:#1b0a2e;
 }

.title {
    color: white !important;
    font-size: 35px;
}

.title_footer {
    color: white !important;
    font-size: 35px;
}

.logo {
    height: 125px;
}

.menu {
    padding: 0%;
    padding-top: 5%;
}

.icofont-2x{
    font-size: 1.5rem !important;
}

.table {
    width: 50%;
}

form {
    width: 50%;
}

.color_button {
    background-color: cornflowerblue;
}

.label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.input,
.label {
    margin: .4rem 0;
}

.selectedbtn {
    background-color: black;
    color: white;
}

.selectedbtn:hover {
    color: white;
}